/* index.css */

.todo-item {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.todo-item button {
    margin-left: auto;
    
}

input:check ~  span.todo-test {
    font-weight: 300;
    text-decoration: line-through;
    font-style: italic;
}

span.todo-text {
    transition: opacity 0-5s ease-in-out;
}